# dependencies
node_modules/

# build
dist/
build/

# environment variables
.env
.env.local
.env.production
!.env.example

# logs
*.log
logs/

# uploads
uploads/*
!uploads/.gitkeep

# IDEs & OS
.DS_Store
.vscode/
.idea/
